:root {
    color-scheme: light dark;

    --bgCol: light-dark(#f2effb, #352F44);
    --menuBgCol: light-dark(rgba(255, 255, 255, 0.78), #655d7a94);

    --text: light-dark(#231e3d, #ffffff);

    --hoverCol: light-dark(#3cbff3, #3cf38f);
    --boxShadowCol: light-dark(rgba(46, 45, 45, 0.2), rgba(240, 240, 240, 0.2));
    --boxBgCol: light-dark(rgba(255, 255, 255, 0.85), rgba(219, 219, 219, 0.05));
}

:root[data-theme="light"] {color-scheme: light;}
:root[data-theme="dark"] {color-scheme: dark;}

* {margin: 0; padding: 0;}

body {
    background: var(--bgCol);
    color: var(--text);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif;
}

a {
    text-decoration: none;
    transition: .3s ease;
}
a:hover {color: var(--hoverCol);}

svg {fill: var(--text);}

.menu {background: var(--menuBgCol);}

.page {
    position: fixed;
    left: 220px;
    width: 86%; height: 100%;
    overflow: hidden;
}

.centered {
    display: flex; flex-direction: column; align-items: center;
    justify-content: center;
    padding-top: 60px;
    box-sizing: border-box;
}

@media screen and (max-width: 500px) {
    .page {
        left: 0; width: 100%; height: 100%;
        overflow-x: hidden; overflow-y: scroll;
    }
}