.header {
    position: relative;
    top: 0; left: 0;
    width: 100%; height: 60px;
    padding: 0 24px;
    box-sizing: border-box;
    background: var(--menuBgCol);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    z-index: 5;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 24px;
}

#hamburger {
    width: 32px; height: 32px;
    cursor: pointer;
    margin-left: -10px;
}

#headerLogo {
    display: flex; align-items: center; 
    cursor: pointer;
    text-decoration: none;
    color: var(--text);
}

#headerLogo h1 {
    font-size: 34px; 
    margin-left: 12px;
}

#logoImg {
    width: 42px; height: 42px;
    border-radius: 0;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 16px;
}

#headerFileSearch {
    display: flex; align-items: center;
    border: 2px solid var(--text);
    padding: 8px 14px;
    border-radius: 12px;
    width: 300px; 
    margin-left: 10px;
    transition: all .3s ease;
    box-sizing: border-box;
}

#headerFileSearch:focus-within {
    border-color: var(--hoverCol);
    box-shadow: var(--boxShadowCol) 0px 6px 12px;
    width: 375px;
}

#headerFileSearch svg {
    width: 22px; height: 22px;
    rotate: 90deg;
    transition: .3s ease;
    fill: none;
    color: var(--text);
}

#headerFileSearch input {
    width: 100%;
    background: none; border: none;
    font-size: 16px;
    margin-left: 8px;
    color: var(--text);
    transition: .3s ease;
}

#headerFileSearch input:focus {outline: none;}

#headerFileSearch input:focus + svg {
    color: var(--hoverCol);
}

.header button, .header a {
    text-decoration: none; background: none; border: none;
    margin: 0; padding: 0;
    display: flex; align-items: center;
    cursor: pointer;
}

.header button svg, .header a svg {
    width: 24px; height: 24px;
    color: var(--text);
    transition: .3s ease;
}

.header button:hover svg, .header a:hover svg {
    fill: var(--hoverCol); color: var(--hoverCol);
}

.headerOptions {
    display: flex; align-items: center;
    gap: 16px;
}

#headerVerticalLine {
    display: block;
    width: 2px; height: 32px;
    background: var(--text);
}

#accountSettingsToggle {
    display: flex; flex-direction: row; align-items: center;
    gap: 6px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text);
    transition: .3s ease;
}

#accountSettingsToggle img {
    width: 32px; height: 32px;
    border-radius: 50%;
}
#accountSettingsToggle h3 {margin-left: 5px;}

#accountSettingsToggle:hover {
    color: var(--hoverCol);
}

#fileSearchFilters {
    position: absolute;  
    left: 64px; top: 10px;
    display: flex; flex-direction: row; align-items: center; flex-wrap: wrap;
    gap: 24px; padding-inline: 16px;
    border-radius: 999px;
    width: fit-content; min-height: 36px;
    border: 2px solid var(--text);
    background: var(--menuBgCol);
    z-index: 4;
}

#fileSearchFilters input, #fileSearchFilters select {
    border: 1px solid var(--boxShadowCol);
    padding: 4px 8px;
    border-radius: 6px;
    background: none; color: var(--text);
    font-size: 12px;
    height: 28px;
    box-sizing: border-box;
}

#fileSearchFilters input:focus, #fileSearchFilters select:focus {
    outline: none; 
    border-color: var(--hoverCol);
}

.parameterSearch {
    display: flex; flex-direction: row; align-items: center;
    gap: 8px;
}

.parameterSearch h2 {
    font-size: 16px;
    margin: 0;
    color: var(--text);
    white-space: nowrap;
}

#boundedInputs {
    display: flex; flex-direction: row; align-items: center;
    gap: 6px;
}

#boundedInputs h3 {
    font-size: 14px;
    margin: 0;
    color: var(--text);
    white-space: nowrap;
}

input[type="number"], select[name="extensionFilter"] {
    width: 60px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

#filterBar {
    width: 2px; height: 20px;
    background-color: var(--text);
}

@media screen and (max-width: 500px) {
    .header {padding: 0 16px;}

    .headerLeft {gap: 12px;}

    #headerFileSearch {
        width: 230px;
        padding: 6px 10px;
        margin-left: 0;
    }
    
    #headerFileSearch:focus-within {width: 250px;}
}