#notificationsCenter {
    width: 360px; height: fit-content;
    padding-bottom: 60px;
    display: flex; flex-direction: column;
    position: fixed; top: 60px; right: 244px;
    border-left: 2px solid var(--menuBgCol);
    border-right: 2px solid var(--menuBgCol);
    border-bottom: 2px solid var(--menuBgCol);
    overflow-y: hidden;
    background-color: rgb(from var(--bgCol) r g b / .75);
    backdrop-filter: blur(5px);
    z-index: 0;
}

#notificationsCenter h2 {
    margin-top: 10px; margin-left: 20px;
}

#notificationsHeader {
    display: flex; flex-direction: row;
    margin-top: 5px; margin-left: 8px;
}
#notificationsHeader button {
    margin-top: 7px;
    padding: 2px; padding-inline: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#notificationsHeader button:hover {
    border: 1px solid var(--boxShadowCol);
    box-shadow: var(--boxShadowCol) 0px 6px 12px;
}

#notificationsHeader svg {fill: var(--hoverCol);}

#notificationsList {
    width: 100%; height: 450px;
    margin-top: 15px;
    display: flex; flex-direction: column;
}

#notificationsCenter.showAll .notification:nth-child(n+5) {
    display: flex;
    padding-bottom: 15px;
}

#notificationsCenter::-webkit-scrollbar {width: 4px;}

#notificationsCenter::-webkit-scrollbar-thumb {background: transparent;}

#notificationsCenter::-webkit-scrollbar-track {
    background: linear-gradient(
        to bottom,
        var(--hoverCol) var(--scroll-progress, 0%),
        var(--boxShadowCol) var(--scroll-progress, 0%)
    );
}

.notification {
    width: calc(100% - 40px);
    height: fit-content;
    display: flex; flex-direction: row;
    padding-inline: 20px; 
    padding-top: 15px; padding-bottom: 15px;
    gap: 15px;
    border-bottom: 1px solid var(--boxShadowCol);
    z-index: 999;
}


#plainText h4 {font-weight: 600;}

#highlight {color: var(--hoverCol); font-weight: bold;}

#notifBody {width: 100%;}
#notifBody #buttons {
    width: 50%;
    display: flex; flex-direction: row; justify-content: space-between;
    margin-top: 15px;
}
#notifBody #buttons button {
    padding: 5px; padding-inline: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: .3s ease;
}

#notifBody #buttons button:last-of-type {border: 1px solid var(--boxShadowCol);}
#notifBody #buttons button:hover {
    box-shadow: var(--boxShadowCol) 0px 6px 12px;
}

#notifFilePreview {
    width: 100%; height: 40px;
    display: flex; align-items: center;
    margin-top: 15px; margin-bottom: 15px;
    background: var(--bgCol);
    border-radius: 8px;
    transition: .3s ease; cursor: pointer;
}
#notifFilePreview:hover {background-color: var(--boxBgCol);}

#notifFilePreview svg {
    width: 32px; height: 32px;
    margin-left: 10px;
    fill: none;
    transition: .3s ease;
}
#notifFilePreview:hover svg, #notifFilePreview:hover h4 {color: var(--hoverCol);}

#notifFilePreview h4 {
    margin-left: 10px; margin-top: -3px;
    transition: .3s ease;
}

@media screen and (max-width: 500px) {
    #notificationsCenter {
        width: 100%; height: calc(100% - 60px);
        position: fixed; top: 60px; right: 0;
        z-index: 0;
    }
}